/* 전체페이지 공통 */
#wrap , #header, #container, #visual , #content , #subVisual { width: 100%;}
#wrap { min-width: 1600px; }
.inner { width: 1400px; margin: auto; position: relative; box-sizing: border-box;  }
#header {}
#header .inner { height: 150px; }
#header h1 { position: absolute; left: 0; top: 40px;  }
#header .top-menu { position: absolute; right: 0; top: 10px; display: flex; }
#header .top-menu li { margin-left: 20px; position: relative; }
#header .top-menu li::after { position: absolute; content:""; display: block; width: 1px; height: 12px; background: #999; right: -10px; top: 50%; transform: translateY(-50%); }
#header .top-menu li:last-child:after {display: none;}
#header .top-menu li a { font-size: 14px; }
#header .nav { position: absolute; right: 0; top: 65px; }
#header .nav .gnb { display: flex; }
#header .nav .gnb li { margin-left: 70px; }
#header .nav .gnb li a {font-size: 18px; font-weight: 500;  }

#footer {}

/* 서브공통구조 */
#subVisual {width: 100%; height: 410px; background-repeat: no-repeat; background-position: 50% 50%;  display: flex; flex-direction: column; }

#subVisual.subvis1 {background-image: url(../images/contents/sublayout/spot1.jpg);}
#subVisual.subvis2 {background-image: url(../images/contents/sublayout/spot2.jpg);}
#subVisual.subvis3 {background-image: url(../images/contents/sublayout/spot3.jpg);}
#subVisual.subvis4 {background-image: url(../images/contents/sublayout/spot4.jpg);}
#subVisual.subvis5 {background-image: url(../images/contents/sublayout/spot5.jpg);}
#subVisual.subvis6 {background-image: url(../images/contents/sublayout/spot1.jpg);}

#subVisual h2 { height: 340px; display: flex; justify-content: center; font-size: 50px; font-weight: 700; color:#fff ; align-items: center;}
#subVisual nav { height: 70px; border-top: 1px solid #fff;  }
#subVisual nav ul { display: flex; justify-content: center;}
#subVisual nav ul li { margin-right: 45px; position: relative; }

#subVisual nav ul li::after { content:""; display: block; height: 2px; background: #fff; position: absolute; left: 0; top: 0; width: 100%; transition: 0.3s; transform: scaleX(0); }
#subVisual nav ul li:hover::after { transform: scaleX(1);}
#subVisual nav ul li.on::after { transform: scaleX(1);}


#subVisual nav ul li:last-child { margin-right: 0px; }
#subVisual nav ul li a { display: block; padding:0 15px; line-height: 70px; font-size: 18px; color:#fff }

.page {}
.page .inner {padding: 100px 0;}


/* index page */
#visual { height: 800px;position: relative;   }
#visual .main-banner{width: 100%; height: 800px;position: relative; }
#visual .main-banner li {width: 100%; height: 800px; background-repeat: no-repeat; background-position: 0 0; background-size: cover; position: absolute; left: 0; top: 0; opacity: 0;}
#visual .main-banner li:nth-child(1) { background-image: url(../images/main/visual1.jpg); opacity: 1;}
#visual .main-banner li:nth-child(2) { background-image: url(../images/main/visual2.jpg);}
#visual .main-banner li:nth-child(3) { background-image: url(../images/main/visual3.jpg);}

#visual .btn { width: 70px; height: 70px; border-radius: 50%; border:none; background: #fff; text-align: center; position: absolute; top: 50%; transform: translateY(-50%); }
#visual .btn i { line-height: 70px; font-size: 40px; }
#visual .prev { left: 50px; }
#visual .next { right: 50px; }

#visual .paging { position: absolute; left: 50%; bottom: 20px; transform: translateX(-50%); display: flex;}
#visual .paging li { width: 15px; height: 15px; border-radius: 50%; margin-right: 15px; background: #fff;}
#visual .paging li.on { background: tomato;}


/* main 공통 */
.main {}
.main .con-box { width: 100%; }
.main .con-box .inner { padding: 130px 0;}
.main .con-box h2 {font-size: 45px; text-align: center; font-weight: 500; line-height: 1; margin-bottom: 10px; }
.main .con-box h2 + p {font-size: 20px; margin-bottom: 80px; text-align: center; }

.main .con1 {}
.main .con1 ul { display: flex; justify-content: space-between;}
.main .con1 ul li { width: 300px; height: 390px; position: relative; }
.main .con1 ul li a {}
.main .con1 ul li a img {width: 300px; height: 390px;}
.main .con1 ul li a span { display: block; width: 300px; height: 390px; position: absolute; left: 0; top: 0; background: #000; opacity: 0; transition:0.4s}
.main .con1 ul li:hover a span {opacity: 0.6;}
.main .con1 ul li a div { position: absolute; left: 0; bottom: -90px; padding: 20px; color:#fff; transition: 0.4s;width: 100%; box-sizing: border-box; }
.main .con1 ul li:hover a div { bottom: 0; }

.main .con1 ul li a div i { font-size: 30px; }
.main .con1 ul li a div strong { font-size: 30px; display: block; font-size: 35px; margin-top: 20px; margin-bottom: 30px;  }
.main .con1 ul li a div p { width: 100%; position: relative; left: 0; top: 30px; opacity: 0; transition: 0.6s;}
.main .con1 ul li:hover a div p { top: 0; opacity: 1; }

.main .con2 { background-repeat: no-repeat; background-position: 0 0; background-size: cover; background-attachment: fixed; background-image: url(../images/main/motive_bg.jpg); height: 600px; }
.main .con2 .box {
        width: 400px; height: 450px; background: rgba(255,255,255,0.5);
        position: absolute; right: 0; top: 0; padding: 50px 30px; box-sizing: border-box;
}
.main .con2 .box em { display: block; }
.main .con2 .box strong { display: block; font-size: 30px; margin-top: 20px; margin-bottom: 55px; }
.main .con2 .box p::before { content:""; display: block; width: 50px; height: 2px; background: #fff; margin-bottom: 20px;}

.main .con2 {}
.main .con3 {}
.main .con4 {}


/* 회사소개 */
.sub1-1 {}
.sub1-1 h3 {}
.sub1-1 h3::after {}
.sub1-1 .bg {}
.sub1-1 .bg ul {}
.sub1-1 .bg ul li {}
.sub1-1 .bg ul li span  {}
.sub1-1 .bg ul li span i {}
.sub1-1 .bg ul li em {}
.sub1-1 strong {}
.sub1-1 strong + ul {}
.sub1-1 strong + ul li {}
.sub1-1 strong + ul li span{}
.sub1-1 strong + ul li span i{}
.sub1-1 strong + ul li p{}



/* 인사말 */
.sub1-2 {}
.sub1-2 h3 { font-size: 40px; margin-bottom: 75px; }
.sub1-2 .box { width: 100%; height: 480px; box-sizing: border-box; padding: 140px 240px; background-repeat: no-repeat; background-position: 0 0; background-size: cover; background-image: url(../images/contents/sub1/ceo-img03.jpg); margin-bottom: 65px;  }
.sub1-2 .box p { width: 440px; font-size: 35px; line-height: 1.3; margin-bottom: 20px;  }
.sub1-2 .box strong {font-size: 20px; }
.sub1-2 .box strong b {font-weight: 700;}
.sub1-2 .ceo { display: flex; justify-content: space-between;}
.sub1-2 .ceo div { width: 670px;  }
.sub1-2 .ceo div p { margin-bottom: 25px; font-size: 16px; }

