.con-box {
    width: 100%;
}
.con-box .inner {
    width: 1400px;
    padding: 100px 0;
    margin: auto;
    box-sizing: border-box;
    position: relative;
}
.con-box .inner h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.con-box .inner .news {
    display: flex;
    justify-content: space-between;
}
.con-box .inner .news .box  {
    width: 650px;
}
.con-box .inner .news .box h3 {
    font-size: 35px;
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
}
.con-box .inner .news .box ul {}
.con-box .inner .news .box ul li {
    padding: 35px 25px;
    border-bottom: 1px solid gray;
}
.con-box .inner .news .box ul li a p {
    font-size: 25px;
    font-weight: 500;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.con-box .inner .news .box ul li a span {
    font-size: 14px;
}
.con-box .inner .news .box .box1 {}
.con-box .inner .news .box .box1 h3 {}
.con-box .inner .news .box .box1 h3 ul {}
.con-box .inner .news .box1 ul li {
    display: flex;
    justify-content: space-between;
}
.con-box .inner .news .box1 ul li strong {
    display: block;
    width: 65px;
    height: 35px;
    background: #285f74;
    color: white;
    border-radius: 17px;
    text-align: center;
    line-height: 35px;
}
.con-box .inner .news .box1 ul li a {
    display: block;
    width: 520px;
}
.con-box .inner .news .box1 ul li a p {}
.con-box .inner .news .box1 ul li a span {}

/* =============box2============================ */
.con-box .inner .news .box .box2 {}
.con-box .inner .news .box .box2 h3 {}
.con-box .inner .news .box .box2 h3 ul {}
.con-box .inner .news .box .box2 ul li {}
.con-box .inner .news .box .box2 ul li a {}
.con-box .inner .news .box .box2 ul li a p {}
.con-box .inner .news .box .box2 ul li a span {}