#wrap {
    width: 100%;
}
#header {
    width: 100%;
    height: 15.3846vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header h1 {}
#header h1 img {
    width: 23.0769vw;
}
#header .all-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 15.3846vw;
    height: 15.3846vw;
    text-align: center;
    background: tomato;
}
#header .all-menu i {
    font-size: 7.6923vw;
    color: white;
    line-height: 15.3846vw;
}
.bg {
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: 10;
    transition: 0.3s;
    pointer-events: none;
}
.bg.on {
    opacity: 0.7;
    pointer-events: auto;
  }
#nav {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    position: fixed;
    right: -80%;
    top: 0;
    z-index: 100;
    background: tan;
    padding: 20.5128vw 12.8205vw;
    transition: 0.3s;
}
#nav.on {
    right: 0;
}
#nav .top-menu {
    position: absolute;
    left: 5.1282vw;
    top: 5.1282vw;
    display: flex;
}
#nav .top-menu li {
    margin-right: 5.1282vw;
    position: relative;
}
#nav .top-menu li::after {
    content: "";
    width: 0.2564vw;
    display: block;
    height: 4.6154vw;
    background: white;
    position: absolute;
    right: -2.5641vw;
    top: 50%;
    transform: translateY(-50%);
}
#nav .top-menu li:last-child::after {
    display: none;
}
#nav .top-menu li a {
    font-size: 4.6154vw;
    font: 641.0256vw;
    color: white;
}
#nav .top-menu li a {}

#nav .gnb {}
#nav .gnb li {}
#nav .gnb li a {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: white;
    line-height: 50px;
    border-bottom: 1px solid gray;
}
#nav .gnb li ul {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}
#nav .gnb li.m1 ul.on {
    height: 300px;
}
#nav .gnb li.m2 ul.on {
    height: 200px;
}
#nav .gnb li.m3 ul.on {
    height: 200px;
}
#nav .gnb li.m4 ul.on {
    height: 100px;
}
#nav .gnb li.m5 ul.on {
    height: 0px;
}
#nav .gnb li ul li a {
    font-size: 16px;
    list-style: 40px;
    background: rgba(255, 255, 255, 0.1);
    text-indent: 20px;
}

#nav .close {
    position: absolute;
    right: 20px;
    top: 20px;
}
#nav .close i {
    font-size: 35px;
    color: white;
}
#visual .swiper-slide .visual-txt {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    text-align-last: left;
    padding-left: 40px;
}
#visual .swiper-slide .visual-txt h2 {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 30px;
}
#visual .swiper-slide .visual-txt p {
    font-size: 20px;
}

#container {}
#content {}
.main .con-box {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
}
.main .p80 {
    padding: 80px 0;
}
.main .con-box h2 {
    font-size: 20px;
    font-weight: 700;
    color: tomato;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
}
.main .about h2::after {
    content: "";
    width: 2px;
    height: 40px;
    background: tomato;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.main .con-box h2+p {
    font-size: 18px;
    text-align: center;
}
.main .con-box .more {
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    color: tomato;
}
.main .con-box .more a {
    font-size: 14px;
    color: tomato;
    font-weight: 500;
}
.main .about-img {
    height: 160px;
    background-position: 0 0;
    background-size: cover;
    background-image: url(../images/about_bg1.png);
    background-attachment: fixed;
}
.main .brand {
    width: 100%;
    overflow: hidden;
}
.main .brand .brand-logo ul {
    display: flex;
    position: relative;
    width: 400%;
}
.main .brand .brand-logo ul li {
    width: 25%;
    border: 1px solid gray;
    box-sizing: border-box;
    background: white;
    margin-left: -1px;
}
.main .brand .brand-logo ul li img {
    width: 100%;
}
.main .brand .brand-logo ul li img {}