#wrap {
    width: 100%;
    min-width: 1600px;
}
.inner {
    width: 1200px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}
#header {
    width: 100%;
    background: #41414d;
}
#header .inner {
    height: 120px;
    background: #41414d;
}
#header .inner h1, #footer .inner h1{
    position: absolute;
    top: 30%;
    left: 0;
}
#header .inner ul {}
#header .inner .top-menu{
    position: absolute;
    right: 0;
    top: 10px;
}
#header .inner .top-menu li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
#header .inner .top-menu li::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 11px;
    background: white;
    top: 8px;
    left: -10px;
}
#header .inner .top-menu li:first-child:after{
    display: none;
}
#header .inner .top-menu li a {
    color: white;
    font-size: 12px;
}
#header .inner .nav .gnb {
    position: absolute;
    display: flex;
    top: 40%;
    right: 20px;

}
#header .inner .nav .gnb li {
    margin-left: 60px;
}
#header .inner .nav .gnb li a {
    color: white;
    font-size: 15px;
}
/* //header */




#content .con-box {
    position: relative;
}
#content .con-box .inner h2 {
    margin: 80px 20px;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}
#content .con-box .inner h2::after{
    content: "";
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 0;
    top: 0;
}
#content .con-box .inner .imgbox i{
    position: absolute;
    width: 450px;
    height: 2px;
    background: lightgray;
    left: 400px;
    top: 220px;
    z-index: -10;
}
#content .con-box .inner .imgbox ul {
    display: flex;
    margin-left: 280px;

}

#content .con-box .inner .imgbox ul li {
    margin: 0 30px;
}
#content .con-box .inner .imgbox ul li p {
    text-align: center;
    margin-top: 20px;

}
#content .con-box .inner + h3 {
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
}
#content .con-box .inner form h3 {
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
#content .con-box .inner strong {
    font-size: 25px;

}
#content .con-box .inner strong p em {
    color: red;
    
}   
#content .con-box .inner strong p {   
    display: inline;
    font-size: 20px;
}

table {
    margin-top: 30px;
    margin-bottom: 30px;
}
table button {
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    background: #000;
    margin-left: 10px;
    position: relative;
}
table select {
    width: 200px;
    height: 40px;
}
table .yes {
}
table .yes img {
    position: absolute;
    top: 100px;
    left: 10px;
}
table td p {
    display: inline;
    font-size: 15px;
    margin-left: 10px;
}
table .w1 {
    width: 200px;
}
table .w2 {
    width: auto;
}
table .w150 {
    width: 150px;
}
table .w350 {
    width: 350px;
}
table .w100 {
    width: 100px;
}
table .w990 {
    width: 990px;
}
table th, table td {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: left;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: middle;
}
table th:last-child, table td:last-child {
    border-right: none;
}
table tr:nth-child(7) td{
    border-bottom: none;
    background: white;
}
table tr:nth-child(6) td:nth-child(2){
    border-bottom: none;
}
table tr:nth-child(8) td{
    background: white;
}
table .tb2 tr th{
    background: white;
}
table th:first-child, table td:first-child {
    background: #f5f5f5;
}
#content .con-box .inner form .tb2 tr th:last-child {
    background: white;
}
#content .con-box .inner form .tb2 tr:first-child th:last-child {
    border-bottom: none;
}
table b {
    color: red;
    padding-left: 5px;
}
table tr td input[type=text], 
table tr th input[type=text], 
table tr td input[type=password],
table select
{
    border: 1px solid lightgray;
    box-sizing: border-box;
    height: 40px;
    padding: 0 5px;
}
table tr:first-child th {
    border-top: 3px solid red;
}
table ul li {
    line-height: 1.8;
    position: relative;
    margin-left: 15px;
}
table ul li::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    top: 7px;
    left: -15px;
}
table ul li p {
    display: block;
    color: lightgray;
    margin-bottom: 10px;
}
#footer {
    width: 100%;
    height: 200px;
    background: #41414d;
}
#footer .inner {
    height: 200px;
    background: #41414d;
}