.con-box {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .box {
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 20px;
        text-align: center;
        color: white;
        border-radius: 30%;

        &.red {
            background: red;
            &:hover {
                opacity: 0.5;
            }
        }
        &.green {
            background: green;
            &:hover {
                opacity: 0.5;
            }
        }
        &.blue {
            background: blue;
            &:hover {
                opacity: 0.5;
            }
        }
        &.black {
            background: black;
            transition: 0.3s;
            &:hover {
                opacity: 0.5;
                transform: rotate(360deg);
            }
        }
    }
}