.nav {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    li {
        a {
            font-size: 25px;
            display: block;
            padding: 20px;
            background: tan;
            transition: 0.3s;
            &:hover {
                background: lightblue;
                padding: 30px;
            }
        }
        &:active {
            a {
                background: lightcoral;
                color: white;
                border: 1px solid #000;
            }
        }
    }
}
.btn-wrap {
    button {
        border: none;
        width: 150px;
        height: 40px;
        transition: 0.3s;
        &.on {
            background: lightgreen;
            color: white;
        }
        &:hover {
            background: lightseagreen;
        }
    }
}