.list {
    margin: 30px;
    li {
        width: 300px;
        margin-bottom: 10px;
        transition: 0.3s;
        a{
            display: block;
            text-align: center;
            list-style: 45px;
            border: 1px solid #000;
        }
        &:hover {
            background: tan;
        }
        // 최상위로 부터 경로 설정
        .wrap &{
            background: lightblue;
        }
    }
}