$fz50 : 50px;
$red : red;
$pink : pink;
$w600 : 600px;

// 변수에 변수 할당

$re-red : $red;
$re-pink : $pink;
$re-w600 : $w600;

h1 {
    font-size: $fz50;
    background: $re-red;
    color: $pink;
}
p {
    width: $re-w600;
    background: $re-pink;
}