/* 
    `${변수,수식}` : JS 보간법
    #{변수} : SCSS 보간법
*/
$color1 : pink;

.bg-#{$color1} {
    background: $color1;
    h2 {
        font-size: 20px;
        margin-bottom: 10px;
        padding: 15px;
    }
}