.con-box {
    background: lightgray;
    padding: 20px;
    div {
        background: lightpink;
        margin-bottom: 15px;
        line-height: 50px;
        &.box1 {
            width: 100px + 100px;
        }
        &.box2 {
            width: 200px - 100px;
        }
        &.box3 {
            width: 15px * 10;
        }
        &.box4 {
            // 나누기는 다른 연산자 없이 단독 사용시 소괄호 필수
            width: (500px / 5);
        }
    }
}