$w : 800px;
.con-box {
    div {
        background: tan;
        margin-bottom: 10px;
        &:first-child {
            width: ($w/2);
        }
        &:last-child {
            width: $w/3+200;
        }
    }
}
p::after {
    content: "HELLO"+"SCSS"+99+$w;
}