@mixin make($bg:pink, $w:null, $h:null) {
    background: $bg;
    width: $w;
    height: $h;
}
.wrap {
    @include make(skyblue, 600px, 600px);
    margin: 50px;
    .box1 {
        @include make(tan, 300px, 200px);
    }
    .box2 {
        @include make(lightpink,200px ,200px );
    }
    .box3 {
        @include make($bg:lightgreen, $w:300px, $h:200px);
    }
}