.box1 {
    width: 300px;
    line-height: 80px;
    font-size: 20px;
    margin: 30px auto;
    background: lightblue;
}

// 상속
.box2 {
    @extend .box1;
    border: 1px solid #000;
    text-align: center;
    background: tan;
}

.box3 {
    @extend .box2;
    background: lightcoral;
    
}