$w  : 1000px;

div {
    width: 200px;
    border: 1px solid #000;
    @if ($w >= 600) {
        width: $w;
        background: tan;
    } @else {
        width: 100%;
        background: lightblue;
    }
}