#wrap {
    width: 100%;
    min-width: 1600px;
}
#header, #footer, #container, #content {
    width: 100%;
}
#header {
    background: gray;
}
#header .inner{
    height: 160px;
}
#content .con-box .img{
    background-image: url(../images/subVisual.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 400px;
    width: 100%;
}
#wrap {}
#wrap {}
.inner {
    width: 1000px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}

#footer {
    background: gray;
}
#footer .inner {
    height: 250px;
}
.inner tr th {

}
.inner tr td {

}
.inner h2 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 30px;
}
.w700 {
    width: 700px;
}
.w190 {
    width: 190px;
}
.w100 {
    width: 100px;
}
.w40{
    width: 40px;
}
.w60{
    width: 60px;
}
.w80{
    width: 80px;
}
.w{
    width: auto;
}

/* bd */

.inner .bd {}
.inner .bd h2 {
    text-align: center;
}
.inner .bd td, .inner .bd th {
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}
.inner .bd th {
    border-top: 1px solid #000;
    font-size: 15px;
    font-weight: 500;
}
.inner .bd td {
    border-top: 1px solid #000;
    font-size: 15px;
}
.inner .bd tr:last-child td {
    border-bottom: 1px solid #000;
}
.inner .bd .link {
    margin-top: 40px;
    margin-bottom: 50px;
}
.inner .bd .link a {
    padding: 10px 30px;
    border: 1px solid #000;
    font-size: 15px;
    position: absolute;
    right: 0;
}
.inner .bd ul {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    
}
.inner .bd ul li {
    font-size: 13px;
    margin: 10px;
    line-height: 2.5;
}
.inner .bd ul a:nth-child(3) li{
    display: inline-block;
    color: white;
    background: #000;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

/* wr */
.inner .wr {}
.inner .wr h2 {
    margin-bottom: 0;
}
.inner .wr p {
    font-size: 13px;

}
.inner .wr table {
    margin-top: 30px;
}
.inner .wr tr:first-child td {
    border-top: 3px solid #000;
}
.inner .wr input[type=text], .inner .wr input[type=password]{
    height: 40px;

}
.inner .wr tr td {
    margin-left: 13px;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.inner .wr tr:first-child td {
    padding-right: 50px;
}
.inner .wr tr:first-child td {
    border-bottom: 1px dotted lightgray;   
}
.inner .wr tr:nth-child(2) td {
    border-bottom: 1px solid #000;
}
.inner .wr tr:last-child td textarea {
    border: none;
}
.inner .wr tr input {
    border: 1px solid gray;
}
.inner .wr table {
    border-bottom: 1px solid #000;
}
.inner .wr em {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.inner .wr em input ,
.inner button {
    width: 100px;
    margin: 0 5px;
    height: 40px;
}
.inner .wr em input:first-child,
.inner a:nth-child(1) button  {
    color: white;
    background: #000;
}
.inner .wr em input:last-child,
.inner a:nth-child(2) button {
    color: black;
    background: white;
}
.inner .wr tr:nth-child(2) td:nth-child(2),
.inner .wr tr:nth-child(2) td:nth-child(4),
.inner .wr tr:nth-child(2) td:nth-child(6),
.inner .wr tr:nth-child(2) td:nth-child(8)
{
    color: lightgray;
    
}
.inner .wr td {
    position: relative;
}
.inner .wr tr:nth-child(2) td:nth-child(2)::after,
.inner .wr tr:nth-child(2) td:nth-child(4)::after,
.inner .wr tr:nth-child(2) td:nth-child(6)::after {
    content: "";
    width: 1px;
    height: 13px;
    background: lightgray;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.inner .fw tr:nth-child(2) td:nth-child(2)::after,
.inner .fw tr:nth-child(2) td:nth-child(4)::after,
.inner .fw tr:nth-child(2) td:nth-child(6)::after{
    display: none;
}