#wrap {
    width: 100%;
    min-width: 1600px;
}
.inner {
    width: 1080px;
    margin: auto;
}
#header {
    width: 100%;
    background: lightcyan;
}
#header .inner {
    height: 150px;
    background: lightgray;
}
.join {}
.join .inner {
    padding: 100px 0;
    position: relative;
    width: 990px;
    margin: auto;
    box-sizing: border-box;
}
.join h2 {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 3px solid #000;
}
.join h2 + p {
    position: absolute;
    top: 110px;
    right: 0;
}
.join b {
    color: red;
    margin: 0 10px;
    vertical-align: middle;
}
.join table {}
.join table .w1 {
    width: 200px;
}
.join table .w2 {
    width: auto;
}
.join table .w180 {
    width: 180px;
}
.join table .w100 {
    width: 100px;
}
.join table .w670 {
    width: 670px;
}
.join table tr {}
.join table tr td {
    padding-bottom: 10px;
    vertical-align: middle;
}
.join table tr td .txt {
    margin-top: 5px;
}
.join table tr td .txt2 {
    margin-top: 5px;
}
.join table tr td .txt2 label {
    margin-right: 100px;
}
.join table tr:nth-child(1) td {
    padding-top: 10px;
}
.join table tr:nth-child(3) td, 
.join table tr:nth-child(9) td, 
.join table tr:nth-child(10) td, 
.join table tr:nth-child(11) td, 
.join table tr:nth-child(12) td {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.join table tr:nth-child(4) td, 
.join table tr:nth-child(10) td, 
.join table tr:nth-child(11) td, 
.join table tr:nth-child(12) td, 
.join table tr:nth-child(13) td {
    padding-top: 10px;
}
.join table button {
    height: 30px;
    padding: 0 10px;
}
.join table select {
    width: 200px;
    height: 30px;
}
.join table tr td input[type=text], .join table tr td input[type=password] {
    box-sizing: border-box;
    height: 30px;
    border: 1px solid gray;
    background: lightgray;
    padding: 0 5px;
}
.join em {
    display: block;
    text-align: center;
    margin-top: 40px;
}
.join em input {
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #000;
}
.join em input:last-child {
    background: gray;
    color: white;
}
#footer {
    width: 100%;
    background: lightcyan;
}
#footer .inner {
    height: 250px;
    background: lightgray;
}