#wrap {
	width: 100%;
	min-width: 1600px;
}
.inner {
	width: 1100px;
	margin: auto;
	position: relative;
	box-sizing: border-box;
}
#header {
	width: 100%;
	background: lightgray;
}
#header .inner {
	height: 150px;
	background: lightblue;
}
#subVisual {
	width: 100%;
	height: 350px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(../images/cat4.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
}
#subVisual h2 {
	font-size: 50px;
	color: white;
}
#container {}
#content {}
/* 페이지명 bbs*/
.bbs {
	width: 1100px;
	margin: 20px auto;
}
.bbs .inner {
	padding: 10px 0;
}
.bbs .inner p {
	margin-top: 15px;
	margin-bottom: 30px;
}
.bbs .tb1 .w1 {
	width: 250px;
}
.bbs .tb2 .w1 {
	width: 125px;
}
.bbs .tb1 .w2 {
	width: auto;
}
.bbs .tb1 .w3 {
	width: 200px;
}
.bbs .tb th, .bbs .tb td {
	border: 1px solid black;
	padding: 10px;
	border-left: none;
}
.bbs .tb th:last-child, .bbs .tb td:last-child {
	border-right: none;
}
.bbs .tb tr th, .bbs .tb tr td {
	text-align: center;
	font-size: 18px;
}
.bbs .tb tr:first-child th {
	border-top: 3px solid #003c6d;
	border-bottom: none;
	background: #f1f2f8;
	font-weight: 700;
}
.bbs .tb td:nth-child(1) {
	background: #fafafc;
	font-weight: 700;
}
.bbs .tb1 tbody tr td:nth-child(1), .bbs .tb1 tbody tr td:nth-child(2) {
	text-indent: 15px;
	text-align: left;
}
.bbs .tb2 tbody tr td:nth-child(2) {
	text-indent: 15px;
	text-align: left;
}
.bbs h2 {
	font-size: 30px;
	color: navy;
	margin-bottom: 10px;
	margin-top: 50px;
}
.bbs h2::before {
	content: "";
	display: inline-block;
	width: 2px;
	height: 25px;
	margin-right: 15px;
	margin-bottom: -3px;
	background: navy;
}
.bbs h3 {
	font-size: 25px;
	color: #3a71c3;
	margin-bottom: 15px;
}
.bbs .inner ul li {
	font-size: 18px;
	line-height: 2;
}
.bbs .inner ul li::before {
	content: "";
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: gray;
	margin-right: 10px;
	margin-bottom: 3px;
}
#footer {
	width: 100%;
	background: lightgreen;
}
#footer .inner {
	height: 300px;
	background: lightcoral;
}