.con-box {
    width: 100%;
}
.con-box .inner {
    margin: 50px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
}
.con-box .inner .kairos {
    border-right: 1px solid gray;
    margin-left: 30px;
    margin-top: 50px;
    padding-right: 60px;
}
.con-box .inner .kairos img {
    margin-bottom: 30px;
}
.con-box .inner .kairos h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.con-box .inner .kairos strong {
    font-size: 15px;
    font-weight: 500;
}
.con-box .inner .kairos p {
    color: gray;
    margin-bottom: 30px;
}
.con-box .inner .kairos ul {}
.con-box .inner .kairos ul li {
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}
.con-box .inner .kairos ul li a {}
.con-box .inner .kairos ul li a img {
    margin-right: 40px;
    padding-right: 40px;
}
.con-box .inner .kairos ul li a img:first-child {
    border-right: 1px solid gray;
}
/* //kairos */
.con-box .inner .smart {
    border-right: 1px solid gray;
    margin-left: 60px;
    margin-top: 50px;
    padding-right: 60px;
}
.con-box .inner .smart img {
    margin-bottom: 30px;
}
.con-box .inner .smart h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.con-box .inner .smart h3 span {
    color: skyblue;
}
.con-box .inner .smart strong {
    font-size: 15px;
    font-weight: 500;
}
.con-box .inner .smart p {
    color: gray;
    margin-bottom: 30px;
}
.con-box .inner .smart div {
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}
/* //smart */
.con-box .inner .box {
    width: 300px;
    padding-left: 50px;
    padding-top: 50px;
}
.con-box .inner .box .news {
    margin-bottom: 40px;
}
.con-box .inner .box .news div {

}
.con-box .inner .box .news h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}
.con-box .inner .box .news ul {
    width: 340px;
}
.con-box .inner .box .news ul li {
    font-size: 15px;
    margin-bottom: 10px;
}
.con-box .inner .box .news ul li:last-child {
    content: "";
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}
.con-box .inner .box .event {}
.con-box .inner .box .event h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}
.con-box .inner .box .event ul {
    font-size: 15px;
    margin-bottom: 10px;
}
.con-box .inner .box .event ul li {
    margin-bottom: 10px;
}
/* //box */
.con-box .inner .bot {
    width: 100%;
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
}
.con-box .inner .bot .box1 {
    width: 430px;
    padding-left: 35px;
}
.con-box .inner .bot .box1 h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
.con-box .inner .bot .box1 p {
    font-size: 15px;
    color: gray;
}
.con-box .inner .bot .box2 {
}
.con-box .inner .bot .box2 li {
    display: inline-block;
    margin: 25px;
}
.con-box .inner .bot .box2 li img {
    margin: auto;
    text-align: center;
    display: block;
    padding-bottom: 10px;
}
.con-box .inner .bot .box2 li span {
}