.list {
  width: 600px;
  height: 200px;
  margin: 30px;
  display: flex;
}
.list li {
  width: 100px;
  height: 100px;
  text-align: center;
  background: lightpink;
}
.list li.on {
  background: tan;
}