@charset "UTF-8";
h1 {
  color: tan;
  background: gray;
  padding: 15px;
  font-family: "궁서체";
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
}

.wrap {
  width: 600px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid #000;
  background-color: "lightgreen";
  background-image: url(../images/img0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.wrap .box {
  text-align: center;
}
.wrap p {
  font: 30px/50px "굴림체";
  font-weight: 700;
  font-style: italic;
  background-color: lightcyan;
  padding: 20px;
}