.list {
    display: flex;
    flex-wrap: wrap;

    li {
        box-sizing: border-box;
        margin: 20px;
        width: 300px;
        padding: 10px;
        border: 3px solid gray;
        border-radius: 20px;
        position: relative;

        i {
            position: absolute;
            color: #000;
            font-size: 30px;
            top: 15px;
            left: 15px;
            text-align: center;
            line-height: 35px;
            font-weight: 700;
            background: white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .poster {
            text-align: center;
            width: 275px;
            border-radius: 20px;
            cursor: pointer;
        }

        .grade {
            margin-top: 10px;
            width: 40px;
        }

        .name {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 20px;
            width: 200px;
            height: 30px;
            margin-left: 20px;
            font-size: 25px;
        }

        p {
            margin-top: 5px;
            margin-bottom: 5px;

            strong {
                font-size: 16px;
                margin-right: 10px;

            }
        }

        .bot {
            display: flex;
            margin: auto;
            vertical-align: top;
            .like {
                display: inline-block;
                border: 1px solid grey;
                padding: 2px 5px;
                padding-top: 0;
                box-sizing: border-box;
                border-radius: 5px;
                font-size: 30px;
                margin-right: 10px;
                vertical-align: middle;
                width: 130px;
                height: 50px;

                svg {
                    line-height: 0;
                    margin-left: 10px;
                    cursor: pointer;
                }

                span {
                    margin-left: 20px;
                    font-size: 20px;
                    height: 50px;
                }
            }

            button {
                height: 50px;
                width: 120px;
                font-size: 20px;
                border: none;
                color: white;
                background: #000;
                cursor: pointer;
            }
        }
    }
}