#wrap {
	width: 100%;
	min-width: 1600px;
}
.inner {
	width: 1180px;
	margin: auto;
	position: relative;
	box-sizing: border-box;
}
/* 공통 inner */
#header {
	width: 100%;
}
#header .inner {
	height: 120px;
}
#header .inner h1 {
	position: absolute;
	top: 20px;
	left: 0;
}
#header .inner h1 a {}
#header .inner ul {}
#header .inner ul.top-menu {
	position: absolute;
	right: 0;
	top: 10px;
}
#header .inner ul.top-menu li {
	position: relative;
	display: inline-block;
	margin-right: 20px;
}
#header .inner ul.top-menu li:last-child {
	margin-right: 30px;
}
#header .inner ul.top-menu li:first-child:after {
	content: "";
	position: absolute;
	display: block;
	width: 1px;
	height: 15px;
	background: #000;
	top: 50%;
	transform: translateY(-50%);
	right: -10px;
}
#header .inner ul.top-menu li a {
	font-size: 20px;
}
#header .inner ul.top-menu li:last-child a {
	font-weight: 700;
}
#header .inner nav {}
#header .inner nav.nav {
	position: absolute;
	left: 320px;
	top: 55px;
}
#header .inner nav.nav ul {}
#header .inner nav.nav ul.gnb {
	display: flex;
}
#header .inner nav.nav ul.gnb li {
	margin-right: 75px;
}
#header .inner nav.nav ul.gnb li a {
	font-size: 20px;
	font-weight: 700;
}
/* //header */
#visual {
	width: 100%;
	height: 720px;
	position: relative;
	background: lightcyan;
}
#container {}
#content {}

#visual {
	width: 100%;
	position: relative;
	height: 720px;
}
#visual .main-banner {
	width: 100%;
	position: relative;
	height: 720px;
	overflow: hidden;
}
#visual .main-banner li {}
#visual .main-banner li:nth-child(1) {
	background-image: url(../images/201902220555000140.jpg);
	width: 100%;
	height: 720px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	position: absolute;
}
#visual .main-banner li:nth-child(2) {
	background-image: url(../images/202005111050316900.jpg);
	width: 100%;
	height: 720px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	position: absolute;
}
#visual .main-banner li:nth-child(3) {
	background-image: url(../images/202005130508091810.jpg);
	width: 100%;
	height: 720px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	position: absolute;
}
#visual p {
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	display: flex;
	justify-content: space-between;
	
}
#visual p .btn {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid white;
	background: none;
	
}
#visual p .prev {
	margin-left: 50px;
}
#visual p .next {
	margin-right: 50px;
}
#visual p .btn i {
	color: white;
	font-size: 50px;
}
#visual p .paging {}
#visual p .paging .on{}

.main {}
.main .con-box {
	width: 100%;
}
.main .con-box .inner {
	padding: 120px 0;
}
.main .con-box h2 {
	font-size: 40px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 10px;
}
.main .con-box h2 + p {
	font-size: 18px;
	text-align: center;
	margin-bottom: 50px;
}
.main .con1 {
	background: lightgoldenrodyellow;
}
.main .con1 .inner {
	padding: 25px 0;
	height: 80px;
	background: lightsalmon;
}
.main .con2 {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url(../images/mainCon1_bg.jpg);
	background-size: cover;

}
.main .con2 .inner h2 {
	color: white;
}
.main .con2 .inner p {
	color: white;
}
.main .con2 .inner ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.main .con2 .inner ul li {
	width: 574px;
	
}
.main .con2 .inner ul li a {
	position: relative;
	display: block;
}
.main .con2 .inner ul li a::after {
	content: "";
	display: block;
	width: 574px;
	height: 510px;
	border: 3px solid white;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	transition: 0.6s; opacity: 0;
}
.main .con2 .inner ul li a:hover::after {
	opacity: 1;
}
.main .con2 .inner li img {
}
.main .con2 .inner li strong {
	display: block;
	font-size: 25px;
	text-align: center;
	color: white;
	font-weight: 500;
	padding: 25px 0;
}
.main .con3 {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url(../images/mainCon2_bg.jpg);
	background-size: cover;
}
.main .con3 .inner h2 {}
.main .con3 .inner p {}
.main .con3 .inner ul {
	display: flex;
	justify-content: space-around;
}
.main .con3 .inner ul li {
}
.main .con3 .inner ul li a {
}
.main .con3 .inner ul li:hover {
	box-shadow: 15px 15px 30px grey;
}
.main .con3 .inner ul li:hover strong {
	transition: 0.1s;
	background: #14875e;
	color: white;
}
.main .con3 .inner li img {
}
.main .con3 .inner li strong {
	display: block;
	font-size: 25px;
	text-align: center;
	font-weight: 500;
	padding: 25px 0;
	background: white;
}
.main .con4 {
}
/* .main .con4 .inner {
}
.main .con4 .inner .box {
	display: flex;
}
.main .con4 h2 {}
.main .con4 p {}
.main .con4 .inner .box .left {
	background: lightblue;
}
.main .con4 .inner .box .left h3 {}
.main .con4 .inner .box .right {
	background: lightgray;
}
.main .con4 .inner .box .right ul {}
.main .con4 .inner .box .right ul li {}
.main .con4 .inner .box .right ul li a {}
.main .con4 .inner .box .right ul li a img {}
.main .con4 .inner .box .right ul li a h4 {} */
.main .con4 .inner {}
.main .con4 .inner h2 {}
.main .con4 .inner p {}
.main .con4 .inner .news {
	display: flex;

}
.main .con4 .inner .news .box1 {
	margin-right: 10px;
	border: 1px solid black;
	position: relative;
	width: 575px;
	height: 350px;
	padding: 20px;
}
.main .con4 .inner .news .box1 h3 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 30px;
}
.main .con4 .inner .news .box1 h3 a {}
.main .con4 .inner .news .box1 a p {
	margin-bottom: 50px;
}
.main .con4 .inner .news .box1 a span {
	margin-bottom: 20px;
	padding-bottom: 50px;
	display: block;
	border-bottom: 1px solid #000;
}
.main .con4 .inner .news .box1 ul {}
.main .con4 .inner .news .box1 ul li {
	position: relative;
}
.main .con4 .inner .news .box1 ul li a {
	display: inline-block;
	width: 400px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-size: 15px;
	line-height: 2;
}
.main .con4 .inner .news .box1 ul li span {
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;
}
.main .con4 .inner .news .box1 p {

}
.main .con4 .inner .news .box1 p.more {
	position: absolute;
	top: 20px;
	right: 20px;

}
.main .con4 .inner .news .box1 .more a {}
.main .con4 .inner .news .box1 .more a img {
	margin-top: 1px;
	margin-left: 10px;
}
/* //box1 */
.main .con4 .inner .news .box2 {

}
.main .con4 .inner .news .box2 ul {
	display: flex;
}
.main .con4 .inner .news .box2 li {

	border: 1px solid black;
	margin-bottom: 10px;
	margin-right: 18px;
	width: 275px;
	height: 190px;
	position: relative;
	
}
.main .con4 .inner .news .box2 ul li:nth-child(1) {
	background-image: url(../images/mainCon3_util1_img1.png);
	background-position: 50% 30%;
	background-repeat: no-repeat;
}
.main .con4 .inner .news .box2 ul li:nth-child(2) {
	background-image: url(../images/mainCon3_util1_img2.png);
	background-position: 50% 30%;
	background-repeat: no-repeat;
}
.main .con4 .inner .news .box2 ul li a {
	position: absolute;
	font-size: 20px;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -50%);
}
.main .con4 .inner .news .box2 ul li a strong {
	font-weight: 700;
}
.main .con4 .inner .news .box2 div {
	width: 600px;
	height: 190px;
	background-image: url(../images/mainCon3_banner.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
}
.main .con4 .inner .news .box2 div p {
	padding-top: 30px;
	padding-left: 30px;
	color: white;
	font-size: 30px;
}
.main .con4 .inner .news .box2 div .more {
	display: flex;
	padding-top: 5px;
	align-items: center;
}
.main .con4 .inner .news .box2 div .more a {
	color: white;
	font-size: 18px;
	font-weight: 700;
}
.main .con4 .inner .news .box2 div .more a img {
	padding-top: 6px;
	padding-left: 5px;
}
#footer {
	height: 300px;
	background: limegreen;
}
#footer .inner {
	height: 300px;
	background: skyblue;
}
#footer .inner .top {}
#footer .inner .top a {}
#footer .inner .top a img {}
#footer .inner p {

}
#footer .inner p a {
	font-size: 20px;
	margin-right: 20px;
}