#wrap {
  width: 100%;
  min-width: 1600px;
}

#header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  height: 114px;
  overflow: hidden;
  transition: 0.4s;
}
#header .bg {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 114px;
  background: lightgray;
  width: 100%;
  height: 400px;
  z-index: -10;
}
#header::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 40px;
  background: #000;
  width: 100%;
  height: 1px;
}
#header.on {
  height: 355px;
}

#header .inner {
  width: 1400px;
  height: 150px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
}

#header h1 {
  position: absolute;
  left: 0;
  top: 50px;
}

#header .top-menu {
  position: absolute;
  right: 0;
  top: 10px;
  display: flex;
}

#header .top-menu li {
  margin-left: 15px;
}

#header .top-menu li a {
  font-size: 14px;
}

#header .nav {
  position: absolute;
  right: 0;
  top: 65px;
}

#header .nav .gnb {
  display: flex;
}

#header .nav .gnb li {
  margin-left: 80px;
}

#header .nav .gnb>li:first-child {
  margin-left: 0;
}

#header .nav .gnb li a {
  font-size: 18px;
  font-weight: 500;
  display: block;
  text-align: center;
}

#header .nav .gnb li ul {
  margin-top: 50px;
  z-index: 10;
}

#header .nav .gnb li ul.on {}

#header .nav .gnb li.m0 ul {
  left: 0px;
  /* display: none; */
}

#header .nav .gnb li.m1 ul {
  left: 175px;
  /* display: none; */
}

#header .nav .gnb li.m2 ul {
  left: 350px;
  /* display: none; */
}

#header .nav .gnb li.m3 ul {
  left: 400px;
  /* display: none; */
}

#header .nav .gnb li.m4 ul {
  left: 510px;
  /* display: none; */
}



#header .nav .gnb li .sub {
  position: absolute;
}
#header .nav .gnb li .sub .sub-wrap {
  position: relative;
}
#header .nav .gnb li .sub .inner h2 {
  position: absolute;
  left: 550px;
  font-size: 20px;
}
#header .nav .gnb li .sub .inner .pic {
}
#header .nav .gnb li .sub .inner .pic img {
  position: absolute;
  top: 0px;
  left: 500px;
  width: 200px;
}

#header .nav .gnb li .sub .inner .pic strong {
  display: inline-block;
  position: absolute;
  font-size: 20px;
  left: 570px;
  top: 180px;

}
#header .nav .gnb li .sub .inner .pic ul {
  position: absolute;
  left: 0px;
  top: -50px;
}

#header .nav .gnb li ul li {
  margin-left: 0;
  margin-right: 15px;
}

#header .nav .gnb li ul li a {
  line-height: 40px;
  font-weight: normal;
  transition: 0.3s;
}

#header .nav .gnb li ul li a:hover {
  background: #888;
  color: #000;
}

#visual {
  margin-top: 114px;
  width: 100%;
  height: 800px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url(../images/visual01.jpg);
}