#wrap {
    #content {
        .inner {
            width: 1200px;
            margin: auto;

            .img {
                height: 180px;
                width: 1200px;
                display: flex;
                margin: 20px 0;

                .emblem {}

                .logo {
                    height: 120px;
                    margin: auto;
                }
            }

            .list {
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 150px;
                    height: 230px;
                    border: 3px solid lightgray;
                    padding: 5px;
                    margin: 10px;
                    box-sizing: border-box;
                    border-radius: 10px;
                    position: relative;

                    img {
                        width: 100%;
                        box-sizing: border-box;
                    }

                    p {
                        display: flex;
                        justify-content: space-between;

                        em {
                            color: red;
                            font-size: 20px;
                            font-weight: 700;
                            margin-left: 10px;
                        }

                        strong {
                            line-height: 30px;
                            text-align: right;
                            font-size: 14px;
                            font-weight: 500;
                            margin-right: 5px;
                        }
                    }

                    span {
                        display: block;
                        text-align: right;
                        font-size: 20px;
                        margin-right: 5px;
                    }

                    &::after {
                        content: attr(data-id);
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        top: -10px;
                        left: -10px;
                        background: lightslategrey;
                        text-align: center;
                        font-size: 18px;
                        line-height: 25px;
                    }

                    &:hover {
                        img {
                            border: 3px solid navy;
                        }

                        em {
                            color: navy;
                        }
                    }
                }
            }
        }
    }
}