.con-box { width: 750px; height: 340px; padding: 30px; box-sizing: border-box; margin:100px auto; background: #efefef; } 

.con-box .list {
    display: flex;
} 
.con-box .list li { 
    font-size: 20px;
    margin-right: 20px;
    padding: 20px 0;
} 
.con-box .list li.on { 
    color: skyblue;
} 
.con-box .box { 
    position: relative;
    border-top: 3px solid skyblue;
} 
.con-box .box article { 
    position: absolute;
    background: wheat;
    left: 0;
    width: 100%;
} 
.con-box .box article:first-child { }
.con-box .box article ul {} 
.con-box .box article ul li {
    position: relative;
    line-height: 40px;
    height: 40px;
} 
.con-box .box article ul li a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 540px;
    font-size: 18px;
} 
.con-box .box article ul li span { 
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 16px;
} 
.con-box .box article .more { 
    position: absolute;
    right: 0;
    top: -80px;
    font-size: 35px;
} 
.con-box .box article .more i { 
    color: skyblue; 
} 


.con-box .list { } 
.con-box .list li { } 
.con-box .list li.on { } 
.con-box .box { } 
.con-box .box article { } 
.con-box .box article:first-child { }
.con-box .box article ul { } 
.con-box .box article ul li { } 
.con-box .box article ul li a { } 
.con-box .box article ul li span { } 
.con-box .box article .more { } 
.con-box .box article .more i { } 