header {
  width: 1200px;
  background: green;
  border: 1px solid red;
}
header #nav {
  display: flex;
}
header #nav li {
  margin-right: 20px;
}
header #nav li a {
  font-size: 30px;
}
header #nav li a:hover {
  color: blue;
}