.con-box {
  background: lightgray;
  padding: 20px;
}
.con-box div {
  background: lightpink;
  margin-bottom: 15px;
  line-height: 50px;
}
.con-box div.box1 {
  width: 200px;
}
.con-box div.box2 {
  width: 100px;
}
.con-box div.box3 {
  width: 150px;
}
.con-box div.box4 {
  width: 100px;
}