h1 {
  background: tan;
  width: 400px;
  margin: 100px;
  border: 1px solid #000;
  text-align: center;
  line-height: 100px;
  font-size: 25px;
}

span {
  display: block;
  background: lightcoral;
  width: 400px;
  margin: 100px;
  border: 1px solid #000;
  text-align: center;
  line-height: 100px;
  font-size: 25px;
}